header
	if typeof(session) !== "undefined"
		if typeof(session.name) !== "undefined"
			h1 #{session.name}
		if typeof(session.secure) !== "undefined"
			i the session is currently marked as 
				b #{session.secure}
	.nav-header
		.nav
			ul
				li
					a(href="#{httpBaseUrl}/") Home
				li
					a(href="/users") Users
				
				if typeof(session) !== "undefined" 
					if typeof(session.name) !== "undefined"
						li
							a(href="#{httpBaseUrl}/logout") Logout
						li
							a(href="#{httpsBaseUrl}/secure") Secure Area
						li
							a(href="#{httpsBaseUrl}/profile") Profile
					else
						li
							a(href="#{httpsBaseUrl}/register") Register
						li
							a(href="#{httpsBaseUrl}/login") Login
				else
					li
						a(href="#{httpsBaseUrl}/register") Register
					li
						a(href="#{httpsBaseUrl}/login") Login
